{{#
    @name Table
    @desc The table component for sizeable content tables.
    @set page.article.table
#}}

<!-- /components/_table.antlers.html -->
<div
    class="
        overflow-auto not-prose max-w-full
        {{ switch(
            (size == 'lg') => 'span-lg',
            (size == 'xl') => 'span-xl',
            (size == '2xl') => 'span-content',
            () => 'span-lg'
        )}}
    "
>

    <table class="w-full bg-(--table-cell-bg) border-collapse min-w-[580px] sm:min-w-0">
        {{ table }}
            {{ if first && first_row_headers }}
                <thead>
                    <tr>
                        {{ cells }}
                            <th class="px-3 py-3 text-xs font-bold tracking-wider text-left text-white uppercase border-b xl:px-6 border-(--table-border-colour) bg-(--table-header-bg)">{{ value }}</th>
                        {{ /cells }}
                    </tr>
                </thead>
            {{ /if }}

            {{ first ?= '<tbody>' }}

            {{ if !first && first_row_headers || !first_row_headers }}
                <tr>
                    {{ cells }}
                        {{ if first && first_column_headers }}
                            <th class="px-3 py-3 text-xs font-bold tracking-wider text-left text-white uppercase border-b xl:px-6 border-(--table-border-colour) bg-(--table-header-bg)">{{ value }}</th>
                        {{ else }}
                            <td class="px-3 py-3 text-sm border-b xl:px-6 border-(--table-border-colour) align-top ">{{ value }}</td>
                        {{ /if }}
                    {{ /cells }}
                </tr>
            {{ /if }}

            {{ last ?= '</tbody>' }}
        {{ /table }}
    </table>

    {{ caption ?= { caption | wrap('span.caption')} }}
</div>
<!-- End: /components/_table.antlers.html -->
