{{#
    @name Two Images
    @desc Two images rendered side by side in figure tags with optional captions.
    @set page.article.two_images
#}}

<!-- /components/_two_images.antlers.html -->
<div class="
    not-prose grid md:grid-cols-2 gap-4
    {{ switch(
        (size == 'lg') => 'span-lg',
        (size == 'xl') => 'span-xl',
        (size == '2xl') => 'span-content',
        () => 'span-lg'
    )}}
">
    {{ left_image scope="left" }}
        {{
            partial:components/utilities/figure
            :image="left:image"
            :caption="left:caption"
            :crop="left:crop"
            :link_type="left:link_type"
            :link_url="left:link_url"
            :link_entry="left:link_entry"
            :link_file="left:link_file"
            sizes="(min-width: 1280px) 50vw, 90vw"
        }}
    {{ /left_image }}

    {{ right_image scope="right" }}
        {{
            partial:components/utilities/figure
            :image="right:image"
            :caption="right:caption"
            :crop="right:crop"
            :link_type="right:link_type"
            :link_url="right:link_url"
            :link_entry="right:link_entry"
            :link_file="right:link_file"
            sizes="(min-width: 1280px) 50vw, 90vw"
        }}
    {{ /right_image }}
</div>
<!-- End: /components/_two_images.antlers.html -->
