{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in `resources/css/peak.css`. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main
        x-data
        x-init="
            const lastSection = document.querySelector('main section:last-of-type');
            if (lastSection?.classList.contains('no-space-b')) {
                $el.classList.remove('pb-12', 'md:pb-16', 'lg:pb-24');
            }
        "
        class="pb-12 md:pb-16 lg:pb-24 stack-12 md:stack-16 lg:stack-18"
        id="content">
    {{ partial src="layout/page_header" }}
    {{ if blueprint == "simple_page" }}
        <!-- /page_builder/_article.antlers.html -->
        {{ partial:page_builder/block }}
            {{ partial:typography/prose as="article" class="contents stack-8" }}
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            {{ /partial:typography/prose }}
        {{ /partial:page_builder/block }}
        <!-- End: /page_builder/_article.antlers.html -->
    {{ /if}}
    {{ if blueprint == "style_kit" }}
        {{ partial src="components/style_kit" }}
    {{ /if }}
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /default.antlers.html -->
