{{#
    @name Columns
    @desc The Columns page builder block.
    @set page.page_builder.columns
#}}

<!-- /page_builder/_columns.antlers.html -->
{{ partial:page_builder/block class="stack-8" }}

{{# headings #}}
    {{ if heading && !hide_col_heading }}
        <div class="span-content grid grid-cols-subgrid">
            <div class="flex flex-col gap-2 col-span-12 md:col-span-8 {{ if heading_alignment == "centre" }} md:col-start-3 items-center {{ /if }}">
                <h2>{{ heading | nl2br }}</h2>
                {{ if block:sub_heading }}
                    <h3>{{ block:sub_heading | nl2br }}</h3>
                {{ /if }}
            </div>
        </div>
    {{ /if}}
    
{{# columns #}}
    <div class="span-content grid grid-cols-subgrid {{ vertical_align_content }} gap-y-8">
        {{# left column #}}
        {{ left_column }}
            <article class="prose max-w-none stack-8 {{ switch(
                (column_width == 'narrow-left') => 'col-span-12 md:col-span-4',
                (column_width == 'narrow-right') => 'col-span-12 md:col-span-8',
                () => 'col-span-12 md:col-span-6'
            )}} {{ switch(
                (reverse_order_for_mobile) => 'order-last md:order-first',
                () => ''
            )}}">
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            </article>
        {{ /left_column }}

        {{# right column #}}
        {{ right_column }}
            <article class="prose max-w-none stack-8 {{ switch(
                (column_width == 'narrow-left') => 'col-span-12 md:col-span-8',
                (column_width == 'narrow-right') => 'col-span-12 md:col-span-4',
                () => 'col-span-12 md:col-span-6'
            )}} {{ switch(
                (reverse_order_for_mobile) => 'order-first md:order-last',
                () => ''
            )}}">
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            </article>
        {{ /right_column }}
    </div>


{{ /partial:page_builder/block }}
<!-- End: /page_builder/_columns.antlers.html -->
