{{#
    @name Columns
    @desc The Columns page builder block.
    @set page.page_builder.columns
#}}

<!-- /page_builder/_columns.antlers.html -->
{{ _margins = switch((block_margins == 'no-top') => 'no-space-t', (block_margins == 'no-bottom') => 'no-space-b', (block_margins == 'no-top-bottom') => 'no-space-t no-space-b', () => '') }}

{{ partial:page_builder/block class="stack-8 scheme-{{ colour_scheme ?? 'default' }} {{ _margins }}" }}

{{# headings #}}
    {{ if heading && !hide_col_heading }}
        <div class="span-content grid grid-cols-subgrid">
            <div class="flex flex-col gap-2 col-span-12 md:col-span-8 {{ if heading_alignment == "centre" }} md:col-start-3 items-center {{ /if }}">
                {{ partial:typography/h2 :content="heading" }}
                {{ if block:sub_heading }}
                    {{ partial:typography/h3 :content="block:sub_heading" }}
                {{ /if }}
            </div>
        </div>
    {{ /if}}
    
{{# columns #}}
    <div class="span-content grid grid-cols-subgrid {{ vertical_align_content }} gap-y-8">
        {{# left column #}}
        {{ left_column }}
            {{ partial:typography/prose as="article" class="stack-8 {{ switch(
                (column_width == 'narrow-left') => 'col-span-12 md:col-span-4',
                (column_width == 'narrow-right') => 'col-span-12 md:col-span-8',
                () => 'col-span-12 md:col-span-6'
            )}} {{ switch(
                (reverse_order_for_mobile) => 'order-last md:order-first',
                () => ''
            )}}" }}
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            {{ /partial:typography/prose }}
        {{ /left_column }}

        {{# right column #}}
        {{ right_column }}
            {{ partial:typography/prose as="article" class="stack-8 {{ switch(
                (column_width == 'narrow-left') => 'col-span-12 md:col-span-8',
                (column_width == 'narrow-right') => 'col-span-12 md:col-span-4',
                () => 'col-span-12 md:col-span-6'
            )}} {{ switch(
                (reverse_order_for_mobile) => 'order-first md:order-last',
                () => ''
            )}}" }}
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            {{ /partial:typography/prose }}
        {{ /right_column }}
    </div>


{{ /partial:page_builder/block }}
<!-- End: /page_builder/_columns.antlers.html -->
