{{#
	@name Media and text
	@desc The Media and text page builder block.
    @set page.page_builder.media_and_text
#}}

<!-- /page_builder/_media_and_text.antlers.html -->
{{ partial:page_builder/block :colour_scheme="block:colour_scheme" :block_margins="block:block_margins" :custom_class="block:custom_class" class="items-start gap-y-fluid-grid-gap" }}

    {{# Wrapper for edge-to-center option #}}
    {{ if block:column_widths == "edge-center" }}
        <div class="span-full grid grid-cols-subgrid gap-y-fluid-grid-gap">
    {{ /if }}

    {{# text column #}}
    <article
        class="flex flex-col gap-4
        {{ block:column_widths != 'edge-center' ? 'span-content order-2 lg:order-none' : '' }}
        {{ (block:column_widths == 'edge-center') ? 'span-content order-2 pt-4 lg:order-none lg:py-12' : '' }}
        {{ switch(
            (block:column_widths == 'edge-center' && block:media_position == 'left') => 'lg:col-span-6 lg:col-start-[col-7] lg:row-start-1',
            (block:column_widths == 'edge-center' && block:media_position == 'right') => 'lg:col-span-6 lg:col-start-[content-start] lg:row-start-1',
            (block:column_widths == 'narrow-left' && block:media_position == 'left') => 'lg:col-span-8 lg:col-start-[col-5] lg:row-start-1',
            (block:column_widths == 'narrow-left' && block:media_position == 'right') => 'lg:col-span-4 lg:col-start-[content-start] lg:row-start-1',
            (block:column_widths == 'narrow-right' && block:media_position == 'left') => 'lg:col-span-4 lg:col-start-[col-9] lg:row-start-1',
            (block:column_widths == 'narrow-right' && block:media_position == 'right') => 'lg:col-span-8 lg:col-start-[content-start] lg:row-start-1',
            (block:column_widths == 'stacked') => 'lg:col-span-8 lg:col-start-[content-start]',
            (block:media_position == 'left') => 'lg:col-span-6 lg:col-start-[col-7] lg:row-start-1',
            () => 'lg:col-span-6 lg:col-start-[content-start] lg:row-start-1'
        )}}
        {{ switch(
            (block:text_alignment == 'top') => 'self-start',
            (block:text_alignment == 'bottom') => 'self-end',
            () => 'self-center'
        )}}
    ">
        {{ if block:heading }}
        <header class="flex flex-col gap-2">
            <h2>{{ block:heading | nl2br }}</h2>

            {{ if block:sub_heading }}
                <h3 class="subheading">{{ block:sub_heading | nl2br }}</h3>
            {{ /if }}
        </header>
        {{ /if }}

        <div class="prose max-w-none mt-2 contents stack-8">
            {{ block:article }}
                {{ partial src="components/{type}" }}
            {{ /block:article }}
        </div>

        {{# Buttons sit a clear step below the text: the column gap plus mt-6. #}}
        {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
    </article>

    {{# media wrapper #}}
    <div class="
        {{ block:column_widths != 'edge-center' ? 'span-content order-1 lg:order-none' : '' }}
        {{ block:column_widths == 'edge-center' ? 'span-full order-1 lg:order-none lg:h-full' : '' }}
        {{ switch(
            (block:column_widths == 'edge-center' && block:media_position == 'left') => 'lg:col-start-[full-start] lg:col-end-[col-7] lg:row-start-1',
            (block:column_widths == 'edge-center' && block:media_position == 'right') => 'lg:col-start-[col-7] lg:col-end-[full-end] lg:row-start-1',
            (block:column_widths == 'narrow-left' && block:media_position == 'left') => 'lg:col-span-4 lg:col-start-[content-start] lg:row-start-1',
            (block:column_widths == 'narrow-left' && block:media_position == 'right') => 'lg:col-span-8 lg:col-start-[col-5] lg:row-start-1',
            (block:column_widths == 'narrow-right' && block:media_position == 'left') => 'lg:col-span-8 lg:col-start-[content-start] lg:row-start-1',
            (block:column_widths == 'narrow-right' && block:media_position == 'right') => 'lg:col-span-4 lg:col-start-[col-9] lg:row-start-1',
            (block:column_widths == 'stacked') => 'lg:col-span-12 lg:col-start-[content-start]',
            (block:media_position == 'left') => 'lg:col-span-6 lg:col-start-[content-start] lg:row-start-1',
            () => 'lg:col-span-6 lg:col-start-[col-7] lg:row-start-1'
        )}}
    ">
        {{ if block:media_type == 'image' }}
            {{ block:image_group scope="media" }}
                {{
                    partial:components/utilities/figure
                    :image="media:image"
                    :caption="media:caption"
                    :crop="media:crop"
                    :link_type="media:link_type"
                    :link_url="media:link_url"
                    :link_entry="media:link_entry"
                    :link_file="media:link_file"
                    :caption_inline="block:column_widths == 'edge-center'"
                    :full_height="block:column_widths == 'edge-center'"
                    sizes="(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw"
                }}
            {{ /block:image_group }}
        {{ elseif block:media_type == 'video' }}
            {{ partial:components/video :video_url="block:video_url" }}
        {{ /if }}
    </div>

    {{# Close wrapper for edge-to-center option #}}
    {{ if block:column_widths == "edge-center" }}
        </div>
    {{ /if }}

{{ /partial:page_builder/block }}
<!-- End: /page_builder/_media_and_text.antlers.html -->
