{{#
    @name Text
    @desc The Text page builder block.
    @set page.page_builder.text
#}}

<!-- /page_builder/_text.antlers.html -->
{{ _margins = switch((block_margins == 'no-top') => 'no-space-t', (block_margins == 'no-bottom') => 'no-space-b', (block_margins == 'no-top-bottom') => 'no-space-t no-space-b', () => '') }}

{{ partial:page_builder/block class="scheme-{{ colour_scheme ?? 'default' }} {{ _margins }}" }}

    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap gap-y-6 ">
        <div class="col-span-12 md:col-span-8 stack-2
            {{ if align == "centre"  }} md:col-start-3 {{ /if }}
            {{ if align_headings == "centre" || align_headings == "centre-all"  }} text-center {{ /if }}
        ">
            {{ if block:heading }}
                {{ partial:typography/h2 :content="block:heading" }}
            {{ /if }}
            {{ if block:sub_heading }}
                {{ partial:typography/h3 :content="block:sub_heading" }}
            {{ /if }}
        </div>
        <div class="col-span-12 md:col-span-8
            {{ if align == "centre" }} md:col-start-3  {{ /if }}
            {{ if align_headings == "centre-all" }} text-center  {{ /if }}
        ">
            {{ partial:typography/prose as="article" class="contents stack-8" }}
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            {{ /partial:typography/prose }}
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_text.antlers.html -->
