{{#
    @name Text
    @desc The Text page builder block.
    @set page.page_builder.text
#}}

<!-- /page_builder/_text.antlers.html -->
{{ partial:page_builder/block }}

    {{# Column layout classes per display style. #}}
    {{ heading_classes = switch(
        (align == 'offset') => 'md:col-span-4',
        (align == 'centre') => 'md:col-span-8 md:col-start-3',
        ()                   => 'md:col-span-8'
    ) }}
    {{ content_classes = switch(
        (align == 'offset') => 'md:col-span-8',
        (align == 'centre') => 'md:col-span-8 md:col-start-3',
        ()                   => 'md:col-span-8'
    ) }}

    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap gap-y-6 ">
        <div class="col-span-12 {{ heading_classes }} stack-2
            {{ if align_headings == "centre" || align_headings == "centre-all"  }} text-center {{ /if }}
        ">
            {{ if block:heading }}
                {{ partial:typography/h2 :content="block:heading" }}
            {{ /if }}
            {{ if block:sub_heading }}
                {{ partial:typography/h3 :content="block:sub_heading" }}
            {{ /if }}
        </div>
        <div class="col-span-12 {{ content_classes }}
            {{ if align_headings == "centre-all" }} text-center  {{ /if }}
        ">
            {{ partial:typography/prose as="article" class="contents stack-8" }}
                {{ article }}
                    {{ partial src="components/{type}" }}
                {{ /article }}
            {{ /partial:typography/prose }}
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_text.antlers.html -->
