@plugin "@tailwindcss/typography";

@utility prose {
    --tw-prose-body: var(--color-neutral);
    --tw-prose-headings: var(--color-neutral);
    --tw-prose-lead: var(--color-neutral);
    --tw-prose-links: var(--color-neutral);
    --tw-prose-bold: var(--color-neutral);
    --tw-prose-counters: var(--color-neutral);
    --tw-prose-bullets: var(--color-neutral);
    --tw-prose-hr: var(--color-neutral);
    --tw-prose-quotes: var(--color-neutral);
    --tw-prose-quote-borders: var(--color-primary);
    --tw-prose-captions: var(--color-neutral);
    --tw-prose-code: var(--color-neutral);
    --tw-prose-pre-code: var(--color-white);
    --tw-prose-pre-bg: var(--color-neutral);
    --tw-prose-th-borders: var(--color-neutral);
    --tw-prose-td-borders: var(--color-neutral);
}

@utility prose-invert {
    --tw-prose-body: var(--color-white);
    --tw-prose-headings: var(--color-white);
    --tw-prose-lead: var(--color-white);
    --tw-prose-links: var(--color-white);
    --tw-prose-bold: var(--color-white);
    --tw-prose-counters: var(--color-white);
    --tw-prose-bullets: var(--color-white);
    --tw-prose-hr: var(--color-white);
    --tw-prose-quotes: var(--color-white);
    --tw-prose-quote-borders: var(--color-white);
    --tw-prose-captions: var(--color-white);
    --tw-prose-code: var(--color-white);
    --tw-prose-pre-code: var(--color-neutral);
    --tw-prose-pre-bg: var(--color-white);
    --tw-prose-th-borders: var(--color-white);
    --tw-prose-td-borders: var(--color-white);
}

@layer utilities {
    .prose {
        line-height: 1.5em;

        ul > li > p,
        ol > li > p {
            margin-top: 0em !important;
            margin-bottom: 0em !important;
            line-height: 1.5em;
        }

        :where(.prose > div > :first-child) {
            margin-top: 0 !important;
        }

        :where(.prose > div > :last-child) {
            margin-bottom: 0 !important;
        }
    }

    .prose-sm,
    .prose-lg,
    .prose-xl,
    .prose-2xl {
        line-height: 1.5em;
    }
}
